body {
  margin: 0;
  padding: 0px;
  font-family: "monospace", sans-serif;
}
.clickable {
  cursor: pointer;
}
i {
  color: saddlebrown;
}
.movie-link {
  text-decoration: none;
  color: rgb(0, 120, 240);
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 35%;
}
